
name: AMBER10_RMIN

types: AMBER10_RMIN
HZ 1.4590 apolar
HS 0.6000 apolar
HP 1.1000 apolar
HW 0.0000 apolar
HO 0.0000 apolar
HC 1.4870 apolar
HA 1.4590 apolar
O2 1.6612 apolar
C* 1.9080 apolar
Br 2.22 apolar
C0 1.7131 apolar
C5 1.9080 apolar
C4 1.9080 apolar
CI 1.9080 apolar
Cl 1.948 apolar
F 1.75 apolar
I 2.35 apolar
H 0.6000 apolar
Zn 1.10 apolar
O 1.6612 apolar
N 1.8240 apolar
P 2.1000 apolar
S 2.0000 apolar
CX 1.9080 apolar
N3 1.8240 apolar
EP 0.00 apolar
CT 1.9080 apolar
MG 0.7926 apolar
OH 1.7210 apolar
H2 1.2870 apolar
H3 1.1870 apolar
H1 1.3870 apolar
H4 1.4090 apolar
H5 1.3590 apolar
SH 2.0000 apolar
OW 1.7683 apolar
C 1.9080 apolar
OS 1.6837 apolar
OP 1.8500 apolar

atoms:
DG  OP1 O2
DG  C3' CT
DG  C1' CT
DG  H22 H
DG  C5' CT
DG  O6  O
DG  H2' HC
DG  H5' H1
DG  H3' H1
DG H2'' HC
DG  O4' OS
DG  C8  C*
DG  C2  C*
DG  H1' H2
DG  C6  C
DG  C5  C*
DG  C4  C*
DG H5'' H1
DG  H21 H
DG  OP2 O2
DG  P   P
DG  C4' CT
DG  C2' CT
DG  N1  N
DG  N2  N
DG  N3  N
DG  N7  N
DG  H4' H1
DG  H8  H5
DG  N9  N
DG  H1  H
DG  O5' OS
DG  O3' OS
ILE  C   C
ILE  CG2 CT
ILE  HD3 HC
ILE HG11 HC
ILE  HD1 HC
ILE HG22 HC
ILE  CB  CT
ILE  CA  CT
ILE  CD  CT
ILE  O   O
ILE  N   N
ILE  CG1 CT
ILE HG21 HC
ILE HG12 HC
ILE  HN  H
ILE  HB  HC
ILE HG23 HC
ILE  HA  H1
ILE  HD2 HC
GLN  C   C
GLN  CB  CT
GLN  CA  CT
GLN  CG  CT
GLN  O   O
GLN  N   N
GLN  CD  C
GLN  NE2 N
GLN  HN  H
GLN  HG1 HC
GLN HE22 H
GLN HE21 H
GLN  HA  H1
GLN  HB1 HC
GLN  OE1 O
GLN  HG2 HC
GLN  HB2 HC
GLY  C   C
GLY  CA  CT
GLY  O   O
GLY  N   N
GLY  HN  H
GLY  HA1 H1
GLY  HA2 H1
GLU  C   C
GLU  CB  CT
GLU  CA  CT
GLU  CG  CT
GLU  O   O
GLU  N   N
GLU  CD  C
GLU  HN  H
GLU  HG1 HC
GLU  OE2 O2
GLU  HA  H1
GLU  HB1 HC
GLU  OE1 O2
GLU  HG2 HC
GLU  HB2 HC
CYS  C   C
CYS  CB  CT
CYS  CA  CT
CYS  O   O
CYS  N   N
CYS  HN  H
CYS  HG1 HS
CYS  SG  SH
CYS  HA  H1
CYS  HB1 H1
CYS  HB2 H1
ASP  C   C
ASP  CB  CT
ASP  CA  CT
ASP  CG  C
ASP  O   O
ASP  N   N
ASP  HN  H
ASP  OD1 O2
ASP  HA  H1
ASP  HB1 HC
ASP  OD2 O2
ASP  HB2 HC
SER  C   C
SER  OG  OH
SER  CB  CT
SER  CA  CT
SER  O   O
SER  N   N
SER  HN  H
SER  HG1 HO
SER  HA  H1
SER  HB1 H1
SER  HB2 H1
DC  OP1 O2
DC  O5' OS
DC  C3' CT
DC  C1' CT
DC  C5' CT
DC  H2' HO
DC  O2  O
DC  H5' H1
DC  H3' H1
DC H2'' H1
DC  O4' OS
DC  C2  C
DC  C6  C*
DC  C5  C*
DC  C4  C*
DC H5'' H1
DC  OP2 O2
DC  P   P
DC  C4' CT
DC  C2' CT
DC  O2' OH
DC  N1  N
DC  N3  N
DC  N4  N
DC  H1' H2
DC  H4' H1
DC  H6  H4
DC  H5  HA
DC  H42 H
DC  H41 H
DC  O3' OS
PRO  C   C
PRO  HA  H1
PRO  HD2 H1
PRO  HD1 H1
PRO  HG2 HC
PRO  CA  CT
PRO  CG  CT
PRO  O   O
PRO  HG1 HC
PRO  N   N
PRO  CB  CT
PRO  CD  CT
PRO  HB1 HC
PRO  HB2 HC
HID  C   C
HID  HD2 H4
HID  HD1 H
HID  CB  CT
HID  CA  CT
HID  CG  C*
HID  O   O
HID  N   N
HID  CE1 C*
HID  NE2 N
HID  HN  H
HID  CD2 C*
HID  ND1 N
HID  HE1 H5
HID  HA  H1
HID  HB1 HC
HID  HB2 HC
HIE  HB1 HC
HIE  C   C
HIE  HD2 H4
HIE  HE2 H
HIE  CB  CT
HIE  CA  CT
HIE  HB2 HC
HIE  CG  C*
HIE  O   O
HIE  N   N
HIE  CE1 C*
HIE  HN  H
HIE  CD2 C*
HIE  ND1 N
HIE  HA  H1
HIE  NE2 N
HIE  HE1 H5
ASN  C   C
ASN  ND2 N
ASN HD22 H
ASN HD21 H
ASN  CB  CT
ASN  CA  CT
ASN  CG  C
ASN  O   O
ASN  N   N
ASN  HN  H
ASN  OD1 O
ASN  HA  H1
ASN  HB1 HC
ASN  HB2 HC
DT  OP1 O2
DT  O5' OS
DT  C3' CT
DT  C1' CT
DT  C5' CT
DT  H2' HC
DT  O4  O
DT  O2  O
DT  H5' H1
DT  H3' H1
DT H2'' HC
DT  O4' OS
DT  C2  C
DT  H51 HC
DT  H52 HC
DT  H53 HC
DT  H72 HC
DT  H73 HC
DT  C5  C*
DT  C4  C
DT H5'' H1
DT  OP2 O2
DT  P   P
DT  C4' CT
DT  C2' CT
DT  N1  N
DT  N3  N
DT  H1' H2
DT  H4' H1
DT  C7  CT
DT  CM  CT
DT  C5M  CT
DT  H6  H4
DT  C6  C*
DT  H3  H
DT  H71 HC
DT  O3' OS
THR  C   C
THR  CG2 CT
THR HG22 HC
THR  CB  CT
THR  CA  CT
THR  OG1 OH
THR  O   O
THR  N   N
THR HG21 HC
THR  HN  H
THR  HG1 HO
THR  HB  H1
THR HG23 HC
THR  HA  H1
DA  OP1 O2
DA  C3' CT
DA  C1' CT
DA  C5' CT
DA  H2' HC
DA  H5' H1
DA  H3' H1
DA H2'' HC
DA  O4' OS
DA  C8  C*
DA  C2  C*
DA  H1' H2
DA  C6  C*
DA  C5  C*
DA  C4  C*
DA H5'' H1
DA  OP2 O2
DA  P   P
DA  C4' CT
DA  C2' CT
DA  N1  N
DA  N3  N
DA  N6  N
DA  N7  N
DA  H4' H1
DA  H8  H5
DA  N9  N
DA  H2  H5
DA  O5' OS
DA  H61 H
DA  H62 H
DA  O3' OS
TRP  HH2 HA
TRP  CZ2 C*
TRP  CZ3 C*
TRP  HN  H
TRP  CD1 C*
TRP  CD2 C*
TRP  HA  H1
TRP  HE1 H
TRP  HE3 HA
TRP  CH2 C*
TRP  HZ3 HA
TRP  HZ2 HA
TRP  C   C
TRP  CB  CT
TRP  CA  CT
TRP  CG  C*
TRP  O   O
TRP  N   N
TRP  CE3 C*
TRP  CE2 C*
TRP  HD1 H4
TRP  HB2 HC
TRP  HB1 HC
TRP  NE1 N
LYS  HN  H
LYS  HA  H1
LYS  HE1 HP
LYS  HE2 HP
LYS  HG2 HC
LYS  HG1 HC
LYS  NZ  N3
LYS  HZ1 H
LYS  HZ3 H
LYS  HZ2 H
LYS  C   C
LYS  CB  CT
LYS  CA  CT
LYS  CG  CT
LYS  O   O
LYS  N   N
LYS  CE  CT
LYS  CD  CT
LYS  HD2 HC
LYS  HD1 HC
LYS  HB1 HC
LYS  HB2 HC
PHE  HZ  HA
PHE  CD2 C*
PHE  HE2 HA
PHE  HE1 HA
PHE  HD1 HA
PHE  CB  CT
PHE  CA  CT
PHE  CG  C*
PHE  C   C
PHE  O   O
PHE  N   N
PHE  CZ  C*
PHE  CE2 C*
PHE  HD2 HA
PHE  HN  H
PHE  CD1 C*
PHE  CE1 C*
PHE  HA  H1
PHE  HB1 HC
PHE  HB2 HC
ALA  C   C
ALA  CB  CT
ALA  CA  CT
ALA  O   O
ALA  N   N
ALA  HN  H
ALA  HA  H1
ALA  HB1 HC
ALA  HB3 HC
ALA  HB2 HC
MET  O   O
MET  C   C
MET  HE1 H1
MET  HE2 H1
MET  HE3 H1
MET  CB  CT
MET  CA  CT
MET  CG  CT
MET  CE  CT
MET  N   N
MET  SD  S
MET  HN  H
MET  HG1 H1
MET  HA  H1
MET  HB1 HC
MET  HG2 H1
MET  HB2 HC
LEU  C   C
LEU HD22 HC
LEU HD23 HC
LEU HD21 HC
LEU  CB  CT
LEU  CA  CT
LEU  CG  CT
LEU  O   O
LEU  N   N
LEU  HN  H
LEU  CD1 CT
LEU  CD2 CT
LEU HD13 HC
LEU HD12 HC
LEU HD11 HC
LEU  HA  H1
LEU  HB1 HC
LEU  HG  HC
LEU  HB2 HC
ARG  HN  H
ARG  HA  H1
ARG  HE  H
ARG  HG2 HC
ARG  NE  N
ARG  HG1 HC
ARG HH22 H
ARG HH21 H
ARG  C   C
ARG  CB  CT
ARG  CA  CT
ARG  CG  CT
ARG  O   O
ARG  N   N
ARG  CZ  C*
ARG  NH1 N
ARG  NH2 N
ARG  CD  CT
ARG  HD2 H1
ARG  HD1 H1
ARG HH12 H
ARG HH11 H
ARG  HB1 HC
ARG  HB2 HC
HSE  HB1 HC
HSE  C   C
HSE  HD2 H4
HSE  HE2 H
HSE  CB  CT
HSE  CA  CT
HSE  HB2 HC
HSE  CG  C*
HSE  O   O
HSE  N   N
HSE  CE1 C*
HSE  HN  H
HSE  CD2 C*
HSE  ND1 N
HSE  HA  H1
HSE  NE2 N
HSE  HE1 H5
VAL  C   C
VAL  CG2 CT
VAL HG11 HC
VAL  CB  CT
VAL  CA  CT
VAL HG21 HC
VAL  O   O
VAL  N   N
VAL  CG1 CT
VAL HG12 HC
VAL HG13 HC
VAL  HN  H
VAL  HB  HC
VAL HG23 HC
VAL  HA  H1
VAL HG22 HC
TYR  CD2 C*
TYR  HE2 HA
TYR  HE1 HA
TYR  HD1 HA
TYR  OH  OH
TYR  CB  CT
TYR  CA  CT
TYR  CG  C*
TYR  C   C
TYR  O   O
TYR  N   N
TYR  CZ  C
TYR  HH  HO
TYR  HD2 HA
TYR  HN  H
TYR  CD1 C*
TYR  CE1 C*
TYR  CE2 C*
TYR  HA  H1
TYR  HB1 HC
TYR  HB2 HC
GUA  OP1 O2
GUA  C3' CT
GUA  C1' CT
GUA  H22 H
GUA  C5' CT
GUA  O6  O
GUA  H2' HC
GUA  H5' H1
GUA  H3' H1
GUA H2'' HC
GUA  O4' OS
GUA  C8  C*
GUA  C2  C*
GUA  H1' H2
GUA  C6  C
GUA  C5  C*
GUA  C4  C*
GUA H5'' H1
GUA  H21 H
GUA  OP2 O2
GUA  P   P
GUA  C4' CT
GUA  C2' CT
GUA  N1  N
GUA  N2  N
GUA  N3  N
GUA  N7  N
GUA  H4' H1
GUA  H8  H5
GUA  N9  N
GUA  H1  H
GUA  O5' OS
GUA  O3' OS
THY  OP1 O2
THY  O5' OS
THY  C3' CT
THY  C1' CT
THY  C5' CT
THY  H2' HC
THY  O4  O
THY  O2  O
THY  H5' H1
THY  H3' H1
THY H2'' HC
THY  O4' OS
THY  C2  C
THY  H51 HC
THY  H52 HC
THY  H53 HC
THY  H72 HC
THY  H73 HC
THY  C5  C*
THY  C4  C
THY H5'' H1
THY  OP2 O2
THY  P   P
THY  C4' CT
THY  C2' CT
THY  N1  N
THY  N3  N
THY  H1' H2
THY  H4' H1
THY  C7  CT
THY  CM  CT
THY  C5M  CT
THY  H6  H4
THY  C6  C*
THY  H3  H
THY  H71 HC
THY  O3' OS
ADE  OP1 O2
ADE  C3' CT
ADE  C1' CT
ADE  C5' CT
ADE  H2' HC
ADE  H5' H1
ADE  H3' H1
ADE H2'' HC
ADE  O4' OS
ADE  C8  C*
ADE  C2  C*
ADE  H1' H2
ADE  C6  C*
ADE  C5  C*
ADE  C4  C*
ADE H5'' H1
ADE  OP2 O2
ADE  P   P
ADE  C4' CT
ADE  C2' CT
ADE  N1  N
ADE  N3  N
ADE  N6  N
ADE  N7  N
ADE  H4' H1
ADE  H8  H5
ADE  N9  N
ADE  H2  H5
ADE  O5' OS
ADE  H61 H
ADE  H62 H
ADE  O3' OS
CYT  OP1 O2
CYT  O5' OS
CYT  C3' CT
CYT  C1' CT
CYT  C5' CT
CYT  H2' HO
CYT  O2  O
CYT  H5' H1
CYT  H3' H1
CYT H2'' H1
CYT  O4' OS
CYT  C2  C
CYT  C6  C*
CYT  C5  C*
CYT  C4  C*
CYT H5'' H1
CYT  OP2 O2
CYT  P   P
CYT  C4' CT
CYT  C2' CT
CYT  O2' OH
CYT  N1  N
CYT  N3  N
CYT  N4  N
CYT  H1' H2
CYT  H4' H1
CYT  H6  H4
CYT  H5  HA
CYT  H42 H
CYT  H41 H
CYT  O3' OS
ANY HO3' HO
ANY H3T HO
ANY H5T HO
ANY HO5' HO
ANY HN' H
ANY HN'' H
ANY O1P O2
ANY O2P O2
