
name: CHARMM36_RMIN

types: CHARMM36_RMIN
CN8B 2.010 apolar
CPT 1.860000 apolar
OH1 1.770000 apolar
CN3T 1.9000 apolar
HR1 0.900000 apolar
HR3 1.468000 apolar
HR2 0.700000 apolar
HA1 1.3400 apolar
HA2 1.3400 apolar
HA3 1.3400 apolar
H 0.224500 apolar
P 2.15 apolar
NN6 1.85 apolar
NN4 1.85 apolar
NN3 1.85 apolar
NN2 1.85 apolar
NN1 1.85 apolar
OC 1.700000 apolar
OB 1.700000 apolar
CP1 2.275000 apolar
CP2 2.175000 apolar
CP3 2.175000 apolar
HB1 1.320000 apolar
HB2 1.340000 apolar
HS 0.450000 apolar
HP 1.358200 apolar
NN3A 1.85 apolar
HC 0.224500 apolar
HA 1.320000 apolar
NN3G 1.85 apolar
CN5G 1.9000 apolar
P2 2.15 apolar
C 2.000000 apolar
SM 1.975000 apolar
NN2U 1.85 apolar
O 1.700000 apolar
S 2.000000 apolar
CE2 2.080000 apolar
CE1 2.090000 apolar
NN2G 1.85 apolar
NN2B 1.85 apolar
OS 1.770000 apolar
CPH1 1.800000 apolar
CPH2 1.800000 apolar
ON6B 1.77 apolar
CN7B 2.275 apolar
ON1 1.70 apolar
HE1 1.250000 apolar
HE2 1.260000 apolar
CT2A 2.010 apolar
NY 1.850000 apolar
NP 1.850000 apolar
CC 2.000000 apolar
CA 1.992400 apolar
CD 2.000000 apolar
CY 1.990000 apolar
CS 2.200000 apolar
CT 2.275 apolar
CT1 2.000 apolar
CT2 2.010 apolar
CT3 2.040 apolar
SS 2.200000 apolar
HN1 0.2245 apolar
HN3 1.1000 apolar
HN2 0.2245 apolar
HN5 0.2245 apolar
HN4 0.2245 apolar
HN7 1.3200 apolar
HN6 1.3200 apolar
HN9 1.3400 apolar
HN8 1.3400 apolar
NC2 1.850000 apolar
CAI 1.990000 apolar
NR3 1.850000 apolar
NR2 1.850000 apolar
NR1 1.850000 apolar
CN7 2.275 apolar
CN4 1.9000 apolar
CN5 1.9000 apolar
CN2 1.9000 apolar
CN3 1.9000 apolar
CN1 1.9000 apolar
CN8 2.010 apolar
CN9 2.040 apolar
CN1T 1.9000 apolar
ON1C 1.70 apolar
NH1 1.850000 apolar
NH3 1.850000 apolar
NH2 1.850000 apolar
ON2 1.77 apolar
ON3 1.70 apolar
N 1.850000 apolar
ON6 1.77 apolar
ON4 1.77 apolar
ON5 1.77 apolar

atoms:
GUA  OP1 ON3
GUA  C3' CN7
GUA  C1' CN7B
GUA  H22 HN1
GUA  C5' CN8B
GUA  O6  ON1
GUA  H2' HN8
GUA  H5' HN8
GUA  H3' HN7
GUA H2'' HN8
GUA  O4' ON6
GUA  C8  CN4
GUA  C2  CN2
GUA  N7  NN4
GUA  C6  CN1
GUA  C5  CN5G
GUA  C4  CN5
GUA H5'' HN8
GUA  H21 HN1
GUA  OP2 ON3
GUA  P   P2
GUA  C4' CN7
GUA  C2' CN8
GUA  N1  NN2G
GUA  N2  NN1
GUA  N3  NN3G
GUA  H1' HN7
GUA  H4' HN7
GUA  H8  HN3
GUA  N9  NN2B
GUA  H1  HN2
GUA  O5' ON2
GUA  O3' ON2
GUA HN'  HN1
GUA HN''  HN1
DG HN' HN1
DG HN'' NH1
DG  OP1 ON3
DG  C3' CN7
DG  C1' CN7B
DG  H22 HN1
DG  C5' CN8B
DG  O6  ON1
DG  H2' HN8
DG  H5' HN8
DG  H3' HN7
DG H2'' HN8
DG  O4' ON6
DG  C8  CN4
DG  C2  CN2
DG  N7  NN4
DG  C6  CN1
DG  C5  CN5G
DG  C4  CN5
DG H5'' HN8
DG  H21 HN1
DG  OP2 ON3
DG  P   P2
DG  C4' CN7
DG  C2' CN8
DG  N1  NN2G
DG  N2  NN1
DG  N3  NN3G
DG  H1' HN7
DG  H4' HN7
DG  H8  HN3
DG  N9  NN2B
DG  H1  HN2
DG  O5' ON2
DG  O3' ON2
ILE  C   C
ILE  CG2 CT3
ILE  HD3 HA3
ILE HG11 HA2
ILE  HD1 HA3
ILE HG22 HA3
ILE  CB  CT1
ILE  CA  CT1
ILE  CD  CT3
ILE  CD1  CT3
ILE  O   O
ILE  N   NH1
ILE  CG1 CT2
ILE HG21 HA3
ILE HG12 HA2
ILE  HN  H
ILE  HB  HA1
ILE HG23 HA3
ILE HG13 HA3
ILE  HA  HB1
ILE  HD2 HA3
ILE HD11 HA3
ILE HD12 HA3
ILE HD13 HA3
GLN  C   C
GLN  CB  CT2
GLN  CA  CT1
GLN  CG  CT2
GLN  O   O
GLN  N   NH1
GLN  CD  CC
GLN  NE2 NH2
GLN  HN  H
GLN  HG1 HA2
GLN HE22 H
GLN HE21 H
GLN  HA  HB1
GLN  HB1 HA2
GLN  OE1 O
GLN  HG2 HA2
GLN  HB2 HA2
GLY  C   C
GLY  CA  CT2
GLY  O   O
GLY  N   NH1
GLY  HN  H
GLY  HA1 HB2
GLY  HA2 HB2
GLY  HA3 HB2
GLU  C   C
GLU  CB  CT2A
GLU  CA  CT1
GLU  CG  CT2
GLU  O   O
GLU  N   NH1
GLU  CD  CC
GLU  HN  H
GLU  HG1 HA2
GLU  OE2 OC
GLU  HA  HB1
GLU  HB1 HA2
GLU  OE1 OC
GLU  HG2 HA2
GLU  HG3 HA2
GLU  HB2 HA2
GLU  HB3 HA2
CYS  C   C
CYS  CB  CT2
CYS  CA  CT1
CYS  O   O
CYS  N   NH1
CYS  HN  H
CYS  HG1 HS
CYS  HG  HS
CYS  SG  S
CYS  HA  HB1
CYS  HB1 HA2
CYS  HB2 HA2
ASP  C   C
ASP  CB  CT2A
ASP  CA  CT1
ASP  CG  CC
ASP  O   O
ASP  N   NH1
ASP  HN  H
ASP  OD1 OC
ASP  HA  HB1
ASP  HB1 HA2
ASP  OD2 OC
ASP  HB2 HA2
SER  C   C
SER  OG  OH1
SER  CB  CT2
SER  CA  CT1
SER  O   O
SER  N   NH1
SER  HN  H
SER  HG1 H
SER  HG H
SER  HA  HB1
SER  HB1 HA2
SER  HB2 HA2
SER  HB3 HA2
CYT  OP1 ON3
CYT  O5' ON2
CYT  C3' CN7
CYT  C1' CN7B
CYT  C5' CN8B
CYT  H2' HN8
CYT  O2  ON1C
CYT  H5' HN8
CYT  H3' HN7
CYT H2'' HN8
CYT  O4' ON6
CYT  C2  CN1
CYT  C6  CN3
CYT  C5  CN3
CYT  C4  CN2
CYT H5'' HN8
CYT  OP2 ON3
CYT  P   P2
CYT  C4' CN7
CYT  C2' CN8
CYT  N1  NN2
CYT  N3  NN3
CYT  N4  NN1
CYT  H1' HN7
CYT  H4' HN7
CYT  H6  HN3
CYT  H5  HN3
CYT  H42 HN1
CYT  H41 HN1
CYT  O3' ON2
CYT HN''  HN1
CYT HN'  HN1
DT HN'  HN1
DT HN''  HN1
DC  OP1 ON3
DC  O5' ON2
DC  C3' CN7
DC  C1' CN7B
DC  C5' CN8B
DC  H2' HN8
DC  O2  ON1C
DC  H5' HN8
DC  H3' HN7
DC H2'' HN8
DC  O4' ON6
DC  C2  CN1
DC  C6  CN3
DC  C5  CN3
DC  C4  CN2
DC H5'' HN8
DC  OP2 ON3
DC  P   P2
DC  C4' CN7
DC  C2' CN8
DC  N1  NN2
DC  N3  NN3
DC  N4  NN1
DC  H1' HN7
DC  H4' HN7
DC  H6  HN3
DC  H5  HN3
DC  H42 HN1
DC  H41 HN1
DC  O3' ON2
PRO  C   C
PRO  HD2 HA2
PRO  HD1 HA2
PRO  CB  CP2
PRO  CA  CP1
PRO  CG  CP2
PRO  O   O
PRO  CD  CP3
PRO  N   N
PRO  HG1 HA2
PRO  HA  HB1
PRO  HB1 HA2
PRO  HG2 HA2
PRO  HB2 HA2
HIE  CD2 CPH1
HIE  HD2 HR3
HIE  HE1 HR1
HIE  HE2 H
HIE  CB  CT2
HIE  CA  CT1
HIE  CG  CPH1
HIE  C   C
HIE  O   O
HIE  N   NH1
HIE  NE2 NR1
HIE  HN  H
HIE  CE1 CPH2
HIE  ND1 NR2
HIE  HA  HB1
HIE  HB1 HA2
HIE  HB2 HA2
ASN  C   C
ASN  ND2 NH2
ASN HD22 H
ASN HD21 H
ASN  CB  CT2
ASN  CA  CT1
ASN  CG  CC
ASN  O   O
ASN  N   NH1
ASN  HN  H
ASN  OD1 O
ASN  HA  HB1
ASN  HB1 HA2
ASN  HB2 HA2
THY  OP1 ON3
THY  O5' ON2
THY  C3' CN7
THY  C1' CN7B
THY  C5' CN8B
THY  H2' HN8
THY  O4  ON1
THY  O2  ON1
THY  H5' HN8
THY  H3' HN7
THY H2'' HN8
THY  O4' ON6
THY  H71 HN9
THY  H72 HN9
THY  H73 HN9
THY  H51 HN9
THY  H52 HN9
THY  H53 HN9
THY  C2  CN1T
THY  C6  CN3
THY  C5  CN3T
THY  C4  CN1
THY H5'' HN8
THY  OP2 ON3
THY  P   P2
THY  C4' CN7
THY  C2' CN8
THY  N1  NN2B
THY  N3  NN2U
THY  H1' HN7
THY  H4' HN7
THY  H3  HN2
THY  H6  HN3
THY  C7  CN9
THY  C5M  CN9
THY  CM  CN9
THY  O3' ON2
DT  OP1 ON3
DT  O5' ON2
DT  C3' CN7
DT  C1' CN7B
DT  C5' CN8B
DT  H2' HN8
DT  O4  ON1
DT  O2  ON1
DT  H5' HN8
DT  H3' HN7
DT H2'' HN8
DT  O4' ON6
DT  H71 HN9
DT  H72 HN9
DT  H73 HN9
DT  H51 HN9
DT  H52 HN9
DT  H53 HN9
DT  C2  CN1T
DT  C6  CN3
DT  C5  CN3T
DT  C4  CN1
DT H5'' HN8
DT  OP2 ON3
DT  P   P2
DT  C4' CN7
DT  C2' CN8
DT  N1  NN2B
DT  N3  NN2U
DT  H1' HN7
DT  H4' HN7
DT  H3  HN2
DT  H6  HN3
DT  C7  CN9
DT  CM  CN9
DT  C5M  CN9
DT  O3' ON2
THR  C   C
THR  CG2 CT3
THR HG22 HA3
THR  CB  CT1
THR  CA  CT1
THR  OG1 OH1
THR  O   O
THR  N   NH1
THR HG21 HA3
THR  HN  H
THR  HG1 H
THR  HB  HA1
THR HG23 HA3
THR  HA  HB1
ADE  OP1 ON3
ADE  C3' CN7
ADE  C1' CN7B
ADE  C5' CN8B
ADE  H2' HN8
ADE  H5' HN8
ADE  H3' HN7
ADE H2'' HN8
ADE  O4' ON6
ADE  C8  CN4
ADE  C2  CN4
ADE  H1' HN7
ADE  C6  CN2
ADE  C5  CN5
ADE  C4  CN5
ADE H5'' HN8
ADE  OP2 ON3
ADE  P   P2
ADE  C4' CN7
ADE  C2' CN8
ADE  N1  NN3A
ADE  N3  NN3A
ADE  N6  NN1
ADE  N7  NN4
ADE  H4' HN7
ADE  H8  HN3
ADE  N9  NN2
ADE  H2  HN3
ADE  O5' ON2
ADE  H61 HN1
ADE  H62 HN1
ADE  O3' ON2
ADE HN'  HN1
ADE HN''  HN1
DA  HN'  HN1
DA  HN''  HN1
DA  OP1 ON3
DA  C3' CN7
DA  C1' CN7B
DA  C5' CN8B
DA  H2' HN8
DA  H5' HN8
DA  H3' HN7
DA H2'' HN8
DA  O4' ON6
DA  C8  CN4
DA  C2  CN4
DA  H1' HN7
DA  C6  CN2
DA  C5  CN5
DA  C4  CN5
DA H5'' HN8
DA  OP2 ON3
DA  P   P2
DA  C4' CN7
DA  C2' CN8
DA  N1  NN3A
DA  N3  NN3A
DA  N6  NN1
DA  N7  NN4
DA  H4' HN7
DA  H8  HN3
DA  N9  NN2
DA  H2  HN3
DA  O5' ON2
DA  H61 HN1
DA  H62 HN1
DA  O3' ON2
TRP  HH2 HP
TRP  CZ2 CAI
TRP  CZ3 CA
TRP  HN  H
TRP  CD1 CA
TRP  CD2 CPT
TRP  HA  HB1
TRP  HE1 H
TRP  HE3 HP
TRP  CH2 CA
TRP  HZ3 HP
TRP  HZ2 HP
TRP  C   C
TRP  CB  CT2
TRP  CA  CT1
TRP  CG  CY
TRP  O   O
TRP  N   NH1
TRP  CE3 CAI
TRP  CE2 CPT
TRP  HD1 HP
TRP  HB2 HA2
TRP  HB1 HA2
TRP  NE1 NY
LYS  HN  H
LYS  HA  HB1
LYS  HE1 HA2
LYS  HE2 HA2
LYS  HG2 HA2
LYS  HG3 HA2
LYS  HG1 HA2
LYS  NZ  NH3
LYS  HZ1 HC
LYS  HZ3 HC
LYS  HZ2 HC
LYS  C   C
LYS  CB  CT2
LYS  CA  CT1
LYS  CG  CT2
LYS  O   O
LYS  N   NH1
LYS  CE  CT2
LYS  CD  CT2
LYS  HD2 HA2
LYS  HD3 HA2
LYS  HD1 HA2
LYS  HB1 HA2
LYS  HB2 HA2
LYS  HB3 HA2
HIS  CD2 CPH1
HIS  HD2 HR3
HIS  HE1 HR1
HIS  HE2 H
HIS  CB  CT2
HIS  CA  CT1
HIS  CG  CPH1
HIS  C   C
HIS  O   O
HIS  N   NH1
HIS  NE2 NR1
HIS  HN  H
HIS  CE1 CPH2
HIS  ND1 NR2
HIS  HA  HB1
HIS  HB1 HA2
HIS  HB2 HA2
PHE  HZ  HP
PHE  CD2 CA
PHE  HE2 HP
PHE  HE1 HP
PHE  HD1 HP
PHE  CB  CT2
PHE  CA  CT1
PHE  CG  CA
PHE  C   C
PHE  O   O
PHE  N   NH1
PHE  CZ  CA
PHE  CE2 CA
PHE  HD2 HP
PHE  HN  H
PHE  CD1 CA
PHE  CE1 CA
PHE  HA  HB1
PHE  HB1 HA2
PHE  HB2 HA2
ALA  C   C
ALA  CB  CT3
ALA  CA  CT1
ALA  O   O
ALA  N   NH1
ALA  HN  H
ALA  HA  HB1
ALA  HB1 HA3
ALA  HB3 HA3
ALA  HB2 HA3
MET  O   O
MET  C   C
MET  HE1 HA3
MET  HE2 HA3
MET  HE3 HA3
MET  CB  CT2
MET  CA  CT1
MET  CG  CT2
MET  CE  CT3
MET  N   NH1
MET  SD  S
MET  HN  H
MET  HG1 HA2
MET  HA  HB1
MET  HB1 HA2
MET  HG2 HA2
MET  HB2 HA2
LEU  C   C
LEU HD22 HA3
LEU HD23 HA3
LEU HD21 HA3
LEU  CB  CT2
LEU  CA  CT1
LEU  CG  CT1
LEU  O   O
LEU  N   NH1
LEU  HN  H
LEU  CD1 CT3
LEU  CD2 CT3
LEU HD13 HA3
LEU HD12 HA3
LEU HD11 HA3
LEU  HA  HB1
LEU  HB1 HA2
LEU  HG  HA1
LEU  HB2 HA2
LEU  HB3 HA2
ARG  HN  H
ARG  HA  HB1
ARG  HE  HC
ARG  HG2 HA2
ARG  HG3 HA2
ARG  NE  NC2
ARG  HG1 HA2
ARG HH22 HC
ARG HH21 HC
ARG  C   C
ARG  CB  CT2
ARG  CA  CT1
ARG  CG  CT2
ARG  O   O
ARG  N   NH1
ARG  CZ  C
ARG  NH1 NC2
ARG  NH2 NC2
ARG  CD  CT2
ARG  HD2 HA2
ARG  HD3 HA2
ARG  HD1 HA2
ARG HH12 HC
ARG HH11 HC
ARG  HB1 HA2
ARG  HB2 HA2
ARG  HB3 HA2
HSE  CD2 CPH1
HSE  HD2 HR3
HSE  HE1 HR1
HSE  HE2 H
HSE  CB  CT2
HSE  CA  CT1
HSE  CG  CPH1
HSE  C   C
HSE  O   O
HSE  N   NH1
HSE  NE2 NR1
HSE  HN  H
HSE  CE1 CPH2
HSE  ND1 NR2
HSE  HA  HB1
HSE  HB1 HA2
HSE  HB2 HA2
VAL  C   C
VAL  CG2 CT3
VAL HG11 HA3
VAL  CB  CT1
VAL  CA  CT1
VAL HG21 HA3
VAL  O   O
VAL  N   NH1
VAL  CG1 CT3
VAL HG12 HA3
VAL HG13 HA3
VAL  HN  H
VAL  HB  HA1
VAL HG23 HA3
VAL  HA  HB1
VAL HG22 HA3
TYR  CD2 CA
TYR  HE2 HP
TYR  HE1 HP
TYR  HD1 HP
TYR  OH  OH1
TYR  CB  CT2
TYR  CA  CT1
TYR  CG  CA
TYR  C   C
TYR  O   O
TYR  N   NH1
TYR  CZ  CA
TYR  HH  H
TYR  HD2 HP
TYR  HN  H
TYR  CD1 CA
TYR  CE1 CA
TYR  CE2 CA
TYR  HA  HB1
TYR  HB1 HA2
TYR  HB2 HA2
TYR  HB3 HA2
ANY OXT OC
ANY H H
ANY HB3 HA2
ANY HD3 HA2
ANY HE3 HA2
ANY HG3 HA2
ANY HO3' HN5
ANY HO5' HN5
ANY H3T HN5
ANY H5T HN5
ANY O1P ON3
ANY O2P ON3
ANY OT1 OC
ANY CAY  CT3 
ANY HY1  HA3   
ANY HY2  HA3  
ANY HY3  HA3   
ANY CY   C      
ANY OY   O   
ANY OT2  OC
ANY HT1  H
ANY HT2  H
ANY NT   NH1
ANY HNT  H 
ANY CAT  CT3
ANY HT3  H

